nav img{
	display:inline-block;
	margin:0px;
	margin-top:8px;
	vertical-align:top;
}

nav ul ul{
	display:none;
}

nav ul li:hover > ul{
	display:block;
}

nav ul{
	padding:0px;
	margin:0px;
	list-style:none;
	position:relative;
	display:inline-block;
}

nav ul:after{
	content:"";
	clear:both;
	display:block;
}

nav ul li{
	white-space:nowrap;
	float:left;
	line-height:36px;
	height:36px;
}

nav ul li a{
	padding:0px 20px;
}

nav ul:first-child > li:hover{
	background:yellowgreen;
}

nav ul li a{
	display:block;
	text-decoration:none;
}

nav ul ul{
	background:#353535;
	padding:0;
	position:absolute;
	top:100%;
}

nav ul ul li{
	float:none;
	position:relative;
}

nav ul ul li a{
	padding:0px 20px;
	color:#fff;
}	

nav ul ul li:hover{
	background:#2a2a2a;
	color:yellowgreen;
}

nav ul ul ul{
	position:absolute;
	left:100%;
	top:0;
}

nav a{
	height:100%;
	line-height:auto;
}
